pyspark==3.1.2
spark-nlp==5.2.2
numpy
pandas

flask[async]
flask-cors

setuptools-rust
python-dotenv
pathlib
httpx

spark-nlp-display

google-api-python-client
google-auth-oauthlib

python-dotenv
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-cloud-translate
google-auth

transformers
fairseq
sacremoses
sentencepiece

openai